
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Smoke suite" verbose="1" >
    <test name="Placelab Smoke Tests" >
        <parameter name="browser" value="chrome"/>

        <classes>
            <class name="com.qamp.placelab.test.CreateSinglePlaceSearchReportWithMaps" />
            <class name="com.qamp.placelab.test.CreateSinglePlaceSearchReportWithAddress" />
            <class name="com.qamp.placelab.test.LogInWithValidPasswordInvalidEmail" />
            <class name="com.qamp.placelab.test.LoginWithValidEmailInvalidPassword" />
            <class name="com.qamp.placelab.test.LoginWithValidCredentials" />
            <class name="com.qamp.placelab.test.ForgotYourPasswordFunctionality" />

        </classes>

    </test>
</suite>